PATH_add cli
PATH_add cli/bin

dotenv_if_exists .env

dotenv_if_exists .env.local
source_env_if_exists .envrc.local

eval "$(cs java --jvm adoptium:1.17.0 --env)"
# eval "$(cs java --jvm adoptium:1.11.0.19 --env)"

unset PS1
